*{
    box-sizing: border-box;
}
.product{
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 1200px;
    margin: auto;
    grid-gap: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product > div{
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex{
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    color: rgb(164, 121, 12);
}
img{
    border: 1px solid rgba(128, 128, 128, 0.367);
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.nav{
    background-color: black;
    padding: 20px;
}
.nav > a, link>a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.nav > a:hover{
    color: grey;
}
.product-detail{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: auto;
}
.box1{
    width: 400px;
    height: auto;
    margin: 20px;
}
.box2{
    width: 500px;
    margin: 20px;
    text-align: left;
}
.btn{
    width: 100%;
    background-color: black;
    color: #fff;
    border: none;
    padding: 5px 0px;
    border-radius: 10px;
    font-weight: 700;
}
.btn:hover{
    background-color: #fff;
    color: #000;
}